.background {
  -fx-background-image: url("../images/backgrounds/background_pane.png");
  -fx-background-size: 30px;
  -fx-background-repeat: repeat;
}

.image-view-wrapper {
  -fx-border-color: black;
  -fx-border-style: solid;
  -fx-border-width: 3;
}

.button--direction {
  -fx-background-color: #737373;
  -fx-font-weight: bold;
  -fx-font-size: 16px;
  -fx-text-fill: #FFFFFF;
  -fx-border-width: 3px;
  -fx-border-color: #FFFB54;
  -fx-border-radius: 0;
  -fx-background-insets: 2;
}

.button--close {
  -fx-background-color: #D80100;
  -fx-font-weight: bold;
  -fx-font-size: 18px;
  -fx-text-fill: #FFFFFF;
  -fx-border-width: 4px;
  -fx-border-color: #FFFB54;
  -fx-border-radius: 4;
  -fx-background-insets: 4;
}

.button--submit {
  -fx-background-color: #7E7E7E;
  -fx-font-weight: bold;
  -fx-font-size: 18px;
  -fx-text-fill: #FFFFFF;
  -fx-border-width: 4px;
  -fx-border-color: #FFFB54;
  -fx-border-radius: 4;
  -fx-background-insets: 4;
}


.scroll-pane .viewport{
  -fx-background-color: transparent;
}

.scroll-pane {
  -fx-background-color:transparent;
}

.button--switch {
  -fx-background-color: #D80100;
  -fx-font-weight: bold;
  -fx-font-size: 16px;
  -fx-text-fill: #FFFFFF;
  -fx-border-width: 4px;
  -fx-border-color: #FFFB54;
  -fx-border-radius: 4;
  -fx-background-insets: 4;
}

.button--help {
  -fx-background-color: #e00000;
  -fx-font-weight: bold;
  -fx-font-size: 12px;
  -fx-text-fill: #FFFFFF;
}

#cp-active {
  -fx-border-color: #e00000;
}

