* {
  -fx-font-family: 'Voice Activated BB'
}


.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-image: url("../images/backgrounds/background_tabpane.png");
  -fx-background-size: contain;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
  -fx-border-width: 0;
}

.tab .tab-close-button {
  -fx-shape: "M19,6.41L17.59,5 12,10.59 6.41,5 5,6.41 10.59,12 5,17.59 6.41,19 12,13.41 17.59,19 19,17.59 13.41,12z";
  -fx-scale-x: 0.8;
  -fx-scale-y: 0.8;
  -fx-background-color: #FFFB54;
}

.tab {
  -fx-text-fill: #FFFFFF;
  -fx-background-color: #737373;
  -fx-border-width: 2px 2px 2px 2px;
  -fx-border-color: #737373 #4d4d4d;
  -fx-border-radius: 0;
}

.tab:selected {
  -fx-border-width: 3px 3px 3px 3px;
  -fx-border-color: #FFFB54 #FFFB54 #737373 #FFFB54;
  -fx-border-radius: 0;
}